node_modules
bower_components
typings
platforms
plugins
bin
obj
libs
# web storm temp folder
.idea
# vs2015 temp folder
.vs
artifacts
*.user
*.lock.json
# gulp build folder
build
#xamarin studio temp files
*.userprefs
#vscode
.vscode
upload
dist
.sass-cache